body
{
    background-image: url("../assets/images/pokedex_bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
}

.result
{
    padding: 30px;
    margin-top: 220px;
    margin-left: 200px;
}

.result-name {
    height: 100px;
    width: 100px;
    
    margin-top: 100px;
    margin-left: 250px;
}