body
{
    background-image: url("../assets/images/pokedex_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
}

.result
{
  
    height: 230px;
    width: 900px;
    padding: 30px;
    margin-top: 220px;
    margin-left: 200px;
}